.converter-container {
  background-color: rgba(0, 140, 255, 0.534);
  width: 50rem;
  border-radius: 0.4rem;
  padding: 10px;

  font-size: 2rem;
}

input {
  width: 80%;
  height: 40px;
  font-size: 1.6rem;
  padding: 3px;
}

button {
  width: 15%;
  height: 40px;
  margin-left: 10px;
  font-size: 1.4rem;
}

p {
  margin-bottom: 10px;
  margin-top: 10px;
}