*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.display-counter-down {
  text-align: center;
  font-size: 1.6rem;
  padding: 20px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

input {
  text-align: center;
}

span {
  padding: 5px;
}